#chevron-cell-sample {
  $primary-color: rgb(102, 159, 42);
  @import "@silevis/reactgrid/styles.scss";
}

.rg-header-cell {
  // background-color: #66CDAA !important;
}

.chevron {
  color: #475467;
}

.rg-celleditor {
    padding: 0 !important;
}

.rg-pane-shadow{
    box-shadow: none !important;
}


// #reactgrid-primary {
//   $primary-color: rgb(102, 159, 42);
//   @import '@silevis/reactgrid/styles.scss';
// }